@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@import './styles/header.scss';
@import './styles/card.scss';
@import './styles/overlay.scss';

* {
    outline: none;
    box-sizing: border-box;
}

:root {
    --theme-bg-color: rgb(250,250,250);
    --theme-color: #3c3a3a;
    --overlay-bg: rgb(255 255 255 / 30%);
    --overlay-common: rgb(18, 18, 18);
    --grid-hover: rgba(46, 54, 68, .03);
    --body-font: "Poppins", sans-serif;
}

html {
     box-sizing: border-box;
     -webkit-font-smoothing: antialiased;
}

body {
    font-family: var(--body-font);
    background-color: var(--theme-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.App {
    width: 80vw;

    @media screen and (min-width: 960px) {
        width: initial;
    }
}
